In [1]:
import pandas as pd

In [24]:
df_estacao = pd.read_csv('Estação_Energia.csv', delimiter=';')
display(df_estacao)

,Data_Registro,Tensao_Fase_RS_V,Tensao_Fase_ST_V,Tensao_Fase_TR_V,Corrente_Fase_R_A,Corrente_Fase_S_A,Corrente_Fase_T_A,Demanda_kW,Potencia-Ativa_kW
0,2022-07-27 07:47:35.437,434.0,436.0,440.0,183.0,184.0,206.0,749.0,-26766.0
1,2022-07-27 08:03:40.410,437.0,438.0,440.0,147.0,136.0,139.0,1183.0,-26734.0
2,2022-07-27 09:07:18.803,433.0,436.0,442.0,314.0,336.0,365.0,1546.0,-26635.0
3,2022-07-27 09:07:20.480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-07-27 09:07:20.567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
48403,2022-12-12 11:09:32.253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48404,2022-12-12 11:09:32.260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48405,2022-12-12 11:09:32.273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48406,2022-12-12 11:09:32.287,443.0,444.0,445.0,163.0,178.0,167.0,985.0,27060.0
48407,2022-12-12 11:09:32.293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#Convertendo valores

df_estacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48408 entries, 0 to 48407
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Data_Registro      48408 non-null  object
 1   Tensao_Fase_RS_V   2308 non-null   float64
 2   Tensao_Fase_ST_V   2308 non-null   float64
 3   Tensao_Fase_TR_V   2308 non-null   float64
 4   Corrente_Fase_R_A  2308 non-null   float64
 5   Corrente_Fase_S_A  2308 non-null   float64
 6   Corrente_Fase_T_A  2308 non-null   float64
 7   Demanda_kW         2308 non-null   float64
 8   Potencia-Ativa_kW  2308 non-null   float64
dtypes: float64(8), object(1)
memory usage: 3.3+ MB

In [25]:
pd.to_datetime(df_estacao['Data_Registro'])

0       2022-07-27 07:47:35.437
1       2022-07-27 08:03:40.410
2       2022-07-27 09:07:18.803
3       2022-07-27 09:07:20.480
4       2022-07-27 09:07:20.567
                  ...
48403   2022-12-12 11:09:32.253
48404   2022-12-12 11:09:32.260
48405   2022-12-12 11:09:32.273
48406   2022-12-12 11:09:32.287
48407   2022-12-12 11:09:32.293
Name: Data_Registro, Length: 48408, dtype: datetime64[ns]

In [27]:
df_estacao['Data_Registro'] = pd.to_datetime(df_estacao['Data_Registro'])

In [28]:
df_estacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48408 entries, 0 to 48407
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Data_Registro      48408 non-null  datetime64[ns]
 1   Tensao_Fase_RS_V   2308 non-null   float64
 2   Tensao_Fase_ST_V   2308 non-null   float64
 3   Tensao_Fase_TR_V   2308 non-null   float64
 4   Corrente_Fase_R_A  2308 non-null   float64
 5   Corrente_Fase_S_A  2308 non-null   float64
 6   Corrente_Fase_T_A  2308 non-null   float64
 7   Demanda_kW         2308 non-null   float64
 8   Potencia-Ativa_kW  2308 non-null   float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 3.3 MB

In [29]:
#Removendo valores nulos

df_estacao.dropna(inplace=True)

In [30]:
df_estacao.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2308 entries, 0 to 48406
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Data_Registro      2308 non-null   datetime64[ns]
 1   Tensao_Fase_RS_V   2308 non-null   float64
 2   Tensao_Fase_ST_V   2308 non-null   float64
 3   Tensao_Fase_TR_V   2308 non-null   float64
 4   Corrente_Fase_R_A  2308 non-null   float64
 5   Corrente_Fase_S_A  2308 non-null   float64
 6   Corrente_Fase_T_A  2308 non-null   float64
 7   Demanda_kW         2308 non-null   float64
 8   Potencia-Ativa_kW  2308 non-null   float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 180.3 KB

In [31]:
display(df_estacao)

,Data_Registro,Tensao_Fase_RS_V,Tensao_Fase_ST_V,Tensao_Fase_TR_V,Corrente_Fase_R_A,Corrente_Fase_S_A,Corrente_Fase_T_A,Demanda_kW,Potencia-Ativa_kW
0,2022-07-27 07:47:35.437,434.0,436.0,440.0,183.0,184.0,206.0,749.0,-26766.0
1,2022-07-27 08:03:40.410,437.0,438.0,440.0,147.0,136.0,139.0,1183.0,-26734.0
2,2022-07-27 09:07:18.803,433.0,436.0,442.0,314.0,336.0,365.0,1546.0,-26635.0
23,2022-07-27 09:33:29.397,427.0,429.0,434.0,532.0,588.0,594.0,929.0,-26587.0
34,2022-07-27 10:27:36.450,442.0,443.0,445.0,120.0,109.0,112.0,876.0,-26503.0
...,...,...,...,...,...,...,...,...,...
48322,2022-12-12 07:09:31.957,445.0,445.0,448.0,101.0,98.0,96.0,994.0,26675.0
48343,2022-12-12 08:09:31.980,443.0,444.0,447.0,207.0,206.0,222.0,908.0,26770.0
48364,2022-12-12 09:09:32.067,442.0,443.0,445.0,163.0,139.0,154.0,973.0,26868.0
48385,2022-12-12 10:09:32.140,443.0,444.0,445.0,195.0,225.0,215.0,957.0,26963.0
48406,2022-12-12 11:09:32.287,443.0,444.0,445.0,163.0,178.0,167.0,985.0,27060.0

In [39]:
df_estacao.to_csv('Desafio_finalizado.csv', index=False)
df_estacao.to_excel('Desafio_finalizado.xlsx', index=False)

In [36]:
df_final = pd.read_csv('Desafio_finalizado.csv', delimiter=',')
display(df_final)

,Data_Registro,Tensao_Fase_RS_V,Tensao_Fase_ST_V,Tensao_Fase_TR_V,Corrente_Fase_R_A,Corrente_Fase_S_A,Corrente_Fase_T_A,Demanda_kW,Potencia-Ativa_kW
0,2022-07-27 07:47:35.437,434.0,436.0,440.0,183.0,184.0,206.0,749.0,-26766.0
1,2022-07-27 08:03:40.410,437.0,438.0,440.0,147.0,136.0,139.0,1183.0,-26734.0
2,2022-07-27 09:07:18.803,433.0,436.0,442.0,314.0,336.0,365.0,1546.0,-26635.0
3,2022-07-27 09:33:29.397,427.0,429.0,434.0,532.0,588.0,594.0,929.0,-26587.0
4,2022-07-27 10:27:36.450,442.0,443.0,445.0,120.0,109.0,112.0,876.0,-26503.0
...,...,...,...,...,...,...,...,...,...
2303,2022-12-12 07:09:31.957,445.0,445.0,448.0,101.0,98.0,96.0,994.0,26675.0
2304,2022-12-12 08:09:31.980,443.0,444.0,447.0,207.0,206.0,222.0,908.0,26770.0
2305,2022-12-12 09:09:32.067,442.0,443.0,445.0,163.0,139.0,154.0,973.0,26868.0
2306,2022-12-12 10:09:32.140,443.0,444.0,445.0,195.0,225.0,215.0,957.0,26963.0
2307,2022-12-12 11:09:32.287,443.0,444.0,445.0,163.0,178.0,167.0,985.0,27060.0

In [37]:
#Exibe várias estatísticas descritivas para os atributos/colunas
df_final.describe()

,Tensao_Fase_RS_V,Tensao_Fase_ST_V,Tensao_Fase_TR_V,Corrente_Fase_R_A,Corrente_Fase_S_A,Corrente_Fase_T_A,Demanda_kW,Potencia-Ativa_kW
count,2308.000000,2308.000000,2308.000000,2308.000000,2308.000000,2308.000000,2308.000000,2308.000000
mean,440.181109,441.378683,444.232236,261.907279,271.828423,272.410312,1330.458406,1301.224870
std,8.398771,7.794695,6.469143,184.276088,208.443822,210.007675,609.506837,20088.092387
min,414.000000,417.000000,422.000000,9.000000,2.000000,17.000000,143.000000,-32766.000000
25%,435.000000,436.000000,440.000000,123.000000,116.000000,117.000000,787.000000,-18554.000000
50%,441.000000,442.000000,444.000000,181.500000,177.000000,166.000000,1473.500000,2094.500000
75%,446.000000,447.000000,449.000000,371.000000,391.250000,397.250000,1893.250000,19918.750000
max,461.000000,463.000000,464.000000,775.000000,847.000000,863.000000,2329.000000,32751.000000

In [38]:
stats = df_final.describe()
stats.loc[['min', 'max', 'mean']]

,Tensao_Fase_RS_V,Tensao_Fase_ST_V,Tensao_Fase_TR_V,Corrente_Fase_R_A,Corrente_Fase_S_A,Corrente_Fase_T_A,Demanda_kW,Potencia-Ativa_kW
min,414.000000,417.000000,422.000000,9.000000,2.000000,17.000000,143.000000,-32766.00000
max,461.000000,463.000000,464.000000,775.000000,847.000000,863.000000,2329.000000,32751.00000
mean,440.181109,441.378683,444.232236,261.907279,271.828423,272.410312,1330.458406,1301.22487

In [40]:
stats.loc[['min', 'max', 'mean'],['Demanda_kW', 'Potencia-Ativa_kW']]

       Demanda_kW  Potencia-Ativa_kW
min    143.000000       -32766.00000
max   2329.000000        32751.00000
mean  1330.458406         1301.22487